# OS
user: yourOsUserHere
password: yourOsPasswordHere

# Portainer
portainer_user: yourPortainerUserHere
portainer_password: yourPortainerPasswordHere

# WIFI
wifi_ssid: yourWifiSsid
wifi_password: youWifiPassword